# User-specific stuff:
.idea

# OS-specific files
.DS_Store

# Compiled Python & C extensions
*.pyc
*.so

# Distribution / packaging
.Python
build/
_build/
develop-eggs/
dist/
wheels/
.eggs/
*.egg-info/
*.egg

# Test / coverage output
.coverage
coverage.xml
